
  <div class="sticky-navbar-wrapper">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light ">
            <a href="/home" class="navbar-brand text-white"><img
                    src="https://res.cloudinary.com/de8cuyd0n/image/upload/v1520412541/E-commerce%20landing%20page/icons/BRANDY_1x.png"
                    alt="brand-logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link text-danger" href="/home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    {{!-- <li class="nav-item dropdown"> --}}
                        {{!-- <a class="nav-link dropdown-toggle text-warning" href="#" id="categoriesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
                          <div class="dropdown-menu" aria-labelledby="categoriesDropdown">  --}}
                <!-- Add your dropdown items here -->
                {{!-- {{#each category}}
                <a class="dropdown-item text-warning" href="/getCategoryProduct?category={{this.Category}}">{{this.Category}}</a>
                {{/each}} --}}
                {{!-- <a class="dropdown-item text-warning" href="#">Category 2</a> --}}
                <!-- Add more categories as needed -->
            {{!-- </div> --}}
                    {{!-- </li> --}}
                    <li class="nav-item ">
                        <a class="nav-link text-warning" href="/orders">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-warning" href="#">Wishlist</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-warning" href="/profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-warning" href="/cart">Cart</a>
                    </li>
                    
                </ul>
                {{!-- <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline btn btn-warning my-2 my-sm-0" type="submit">Search</button>
                </form> --}}
                <a class="nav-item nav-link text-danger   ml-auto" href="/logout" id="logout-btn">LogOut</a>
            </div>
        </nav>
    
    </div>

    </div>